# -----------------------------------------------------------------------------
# Hardhat
# -----------------------------------------------------------------------------

cache/
artifacts/
coverage/
coverage.json
typechain/
typechain-types/

# -----------------------------------------------------------------------------
# Dependencies
# -----------------------------------------------------------------------------

node_modules/

# -----------------------------------------------------------------------------
# Environment
# -----------------------------------------------------------------------------

.env
.env.*

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# macOS
# -----------------------------------------------------------------------------

.DS_Store

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log
